default: &default
  adapter:  <%= ENV['DB_ADAPTER'] ||= 'postgresql' %>
  database: <%= ENV['DB_DATABASE'] %>
  username: <%= ENV['DB_USERNAME'] %>
  password: <%= ENV['DB_PASSWORD'] %>
  host:     <%= ENV['DB_HOSTNAME'] %>

development:
  <<: *default

production:
  <<: *default

test:
  <<: *default
  database: <%= ENV['DB_DATABASE'] %>_test %>
